@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505; /* Deep Black */
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}